@CHARSET "ISO-8859-1";
body {
	background-color: #ededed;
	text-align: justify;
 	font-size: 14px;
 	line-height: 24px;
 	font-family: "Trebuchet MS", Helvetica, Sans-Serif;
}

h1 {
	font-size:2em;
}

div.notep {
	font-size: 14px; background: #cccfff url(http://cdnknowledge.kaltura.com//sites/all/themes/kaltura_theme/tinymce_styles/images/note_icons.png) no-repeat left center; padding-left: 80px; min-height: 56px; display: block; padding-top: 5px; margin-top: 15px; margin-bottom: 15px;
}

div.pagerDiv {
	padding-bottom: 15px;
}

div.addTagsDiv {
	padding-top: 15px;
}

div.removeTagsDiv {
	padding-top: 15px;
}

div.removeTagTextDiv {
	float:left;
}

div.removeTagSelectDiv {
	float:left;
	padding-left:5px;
}

div.searchDiv {
	padding-bottom: 15px;
}

div.capsule {
	width:800px;
	margin: 0 auto;
}

#wrapper {
	width:800px;
	margin: 0 auto;
}

div.float1 {
	float:left;
}

div.float2 {
	float:left;
	padding-left: 3px;
}

div.float3 {
	float:left;
	padding-top: 33px;
}

div.clear {
	clear:both;
	padding-top: 3px;
}

.capsule .chzn-container-multi .chzn-choices {
	min-height: 90px !important;
}

.btnClass {
	float: right;
	margin: 0 20px;
}

.thumblink {
	margin-right: 20px;
}